@import "tailwindcss";

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "FiraGO", sans-serif;
}

header {
  font-family: "Fredoka", sans-serif;
}

.form1 {
  background-color: rgba(251, 249, 255, 0.65);
}

.formlabels {
  font-size: 16px;
  line-height: 19px;
  color: #343a40;
}

.formspans {
  font-size: 10px;
  line-height: 12px;
  margin-left: 1px;
  color: #6c757d;
}

.forminputs {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #dee2e6;
  padding: 14px;
  background-color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  flex-grow: 1;
  color: #0d0f10;
}

.blur {
  background-color: rgba(13, 15, 16, 0.15);
}

.form2labels {
  font-size: 14px;
  line-height: 17px;
  color: #343a40;
  font-weight: 500;
}

.form2spans {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

.form2inputs {
  height: 42px;
  width: 384px;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  outline: none;
  appearance: none;
}
